logs/

sources/logfile.txt

sources/hw/dni/
sources/hw/gen/
sources/hw/core_sdram_axi4_hw.tcl
sources/hw/issp/
sources/hw/output_files/
sources/hw/qdb/
sources/hw/reset_release/
sources/hw/sdram_axi.v
sources/hw/sdram_axi_core.v
sources/hw/sdram_axi_pmem.v
sources/hw/sys_pll/
sources/hw/tmp-clearbox/
sources/hw/top.qpf
sources/hw/top.qsf
sources/hw/src/vds/qsys_top/ip/
sources/hw/src/vds/qsys_top/qsys_top.qsys
sources/hw/src/vds/qsys_top/qsys_top/

sources/sw/app_freertos/build/
sources/sw/bsp_freertos/
